<div>
    <p>
        If you provide this parameter, the <i>exwsAllocate</i> step will allocate the first workspace used by the
        selected run.
    </p>
    <p>
        This is a <i>RunWrapper</i> object.
        You can get a reference by using the <i>runSelector</i> step from the <i>Run Selector Plugin</i>.
    </p>
    <p>
        Basic usage example:
    </p>
    <pre>
    def run = runSelector projectName: 'upstream-project-name'
    def extWorkspace = exwsAllocate selectedRun: run
    ...
    </pre>
</div>
